body {
    /* The image used */
    background-image: url("./Images/bg.jpg");
    /* Sets height */
    height: 500px;
    /* Centers the image */
    background-position: center;
    /* Makes sure the image is not repeated */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire page screen */
    background-size: cover;
    text-align: center;
}

#innerCard {
    /* Adds a solid black border of 2 pixels around object */
    border: 2px solid black;
    /* Puts objects inline with each other */
    display: inline-block;
    /* Adds a with of 200 pixels to object */
    width: 200px;
    /* Sets margin to 2 pixels top and bottom and automatically sets left and right margin */
    margin: 2px auto;
}